[MASTER]
ignore=CVS

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    duplicate-code,
    too-few-public-methods,
    broad-exception-caught,
    logging-fstring-interpolation,
    consider-using-f-string,
    ungrouped-imports

[REPORTS]
score=no
